[init]
	defaultbranch = main

[rerere]
	enabled = true

[pull]
	rebase = true

[color]
	ui = auto

[color "branch"]
	current = yellow bold
	local = green
	remote = red

[color "diff"]
	meta = white bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = yellow bold
	untracked = red bold

[include]
	path = ~/.gitconfig.local